.Form {
  display: flex;
  flex-direction: column;
  width: 30vw;
  min-height: 90vh;
  margin: auto;
  align-items: center;
  justify-content: center;
  row-gap: 1.75vh;
}

.Form-title {
  font-size: 2vw;
}