.Welcome {
  display: flex;
  min-height: 90vh;
  width: 100vw;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 10vh;
}

.Welcome-header {
  font-size: 3vw;
}

.Welcome-text {
  font-size: 1.5vw;
}

.Welcome-subtext {
  font-size: 2.25vw;
}