.Welcome {
  display: flex;
  min-height: 80vh;
  width: 65vw;
  margin: 3vh auto;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 10vh;
  border-radius: 25px;
}

.Welcome-header {
  font-size: 3vw;
}

.Welcome-text {
  font-size: 1.5vw;
}

.Welcome-subtext {
  font-size: 2.25vw;
}